.form {
	max-width: 100%;
}

.form__fieldset {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 0 43px;
	border: none;
}

.form__fieldset:first-child {
	margin-bottom: 53px;
}

.form__label {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	color: #000;
}

.form__input-task,
.form__input-note {
	padding: 20px 16px 18px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	border: none;
	background: #EFEFEF;
	box-sizing: border-box;
}

.form__input-task::placeholder,
.form__input-note::placeholder {
	color: #B7B7B7
}

.form__input-task:focus,
.form__input-note:focus {
	outline-color: #6CB1D8;
}

.form__input-note {
	min-height: 121px;
	max-height: 200px;
	resize: vertical;
}

.form__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 350px;
	min-height: 69px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 16px;
	background-color: #6CB1D8;
	cursor: pointer;
	transition: all .3s ease-in;
}

.form__button:hover {
	border-color: #8ACDF1;
	color: #fff;
	background-color: #B3DDF4;
}

.form__button:disabled {
	color: #747474;
	background-color: #CCCCCC;
	cursor: default;
}