.todo-item {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 19px 45px 23px;
	margin-bottom: 20px;
	background-color: #E1E1E1;
	border-radius: 28px;
	box-sizing: border-box;
}

.todo-item:last-child {
	margin-bottom: 0;
}

.todo-item__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-right: 50px;
	box-sizing: border-box;
}

.todo-item__title {
	margin: 0;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
}

.todo-item__subtitle {
	margin: 25px 0 0;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 37px;
}

.todo-item__button {
	visibility: hidden;
	width: 50px;
	height: 50px;
}

.todo-item:hover {
	background-color: #FFCDCD;
}

.todo-item:hover .todo-item__button {
	visibility: visible;
}

.todo-item__button:hover {
	transform: scale(0.8);
}

.todo-item__button:hover svg rect {
	fill: #000 !important;
}